jupyter
matplotlib
networkx
notebook
numpy
pandas
pcalg
scipy
sklearn
statsmodels
-e git+https://github.com/jakobrunge/tigramite.git#egg=tigramite

# CircleCI
flake8
flake8_formatter_junit_xml
pytest
vulture